In [1]:
#set up the dependencies
import pandas as pd
import numpy as np

#create a file path
heroes_path = "Resources/purchase_data.csv"

#read the file and create a table 
purchase_game = pd.read_csv(heroes_path)
purchase_game_df = pd.DataFrame(purchase_game)
purchase_game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#determine the number of players
players_total_amount = purchase_game_df["SN"].count()
players_total_amount

780

In [3]:
#calculate total number of unique items
unique_items = len(purchase_game_df["Item ID"].unique())
unique_items

#calculate the total number of purchases
purchase_total = purchase_game_df["Purchase ID"].count()
purchase_total

#calculate the total revenue for game
total_revenue = purchase_game_df["Price"].sum()
total_revenue

#calculate the average price
average_prices1 = purchase_game_df["Price"].mean()
average_prices1

average_prices2 = total_revenue/purchase_total
average_prices2

#average_prices1 = average_prices2

#create a summary for the data as a frame format
purchase_analysis_df = pd.DataFrame([{"Number of Unique Items": unique_items, "Average Prices" : average_prices1, "Number of Purchases" : purchase_total, "Total Revenue" : total_revenue}])
purchase_analysis_df["Average Prices"] = purchase_analysis_df["Average Prices"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_df

#reset the column order for the summary data frame
organize_purchase_analysis_df = purchase_analysis_df[["Number of Unique Items" , "Average Prices" , "Number of Purchases" , "Total Revenue"]]
organize_purchase_analysis_df

   Number of Unique Items Average Prices  Number of Purchases Total Revenue
0                     179          $3.05                  780     $2,379.77

In [4]:
#calculate gender differences between players
gender_df = pd.DataFrame(purchase_game_df["Gender"].value_counts())
gender_df

gender_percentage = (purchase_game_df["Gender"].value_counts()/players_total_amount)*100
gender_percentage

#take the calculations and add them to the data frame as new column
gender_df["Percentage of Players"] = gender_percentage
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)
gender_df

#re-organize the order of the columns
organize_gender_df = gender_df[["Percentage of Players" , "Gender"]]
organize_gender_df

#rename the columns using the .rename command
final_gender_df = organize_gender_df.rename(columns={"Gender" : "Total Counts"})
final_gender_df

                      Percentage of Players  Total Counts
Male                                 83.59%           652
Female                               14.49%           113
Other / Non-Disclosed                 1.92%            15

In [5]:
#use the group by function to separate the data into fields with Gender values
gender_purchased_data_df = purchase_game_df.groupby(["Gender"])

#print(gender_purchcased_data_df) by using a function
gender_purchased_data_df["Purchase ID"].count().head(10)

#calculate the total purchase value by gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64